header {
    height: 100vh;
}

.logos {
    height: 100px;
}

h1, h2, h3, p {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #5b5b5b;
}

/* Поставити той фон на задній план??
.about_us {
	background-color: #ffffff;
	opacity: 0.6;
} */

.orange {
	color: #faa61a;
}

.green {
	color: #a6f777;
}