body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: none;
}

.logo {
    margin-left: auto;
    margin-right: auto;
}

header {
	height: 120px;
	align-items: center;
}

.content {
	position: relative;
	margin: 3% 200px;
}

h1, h2, h3, h4, h5 {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	color: #5b5b5b;
}

h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #5b5b5b;
}

p {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #5b5b5b;
}

a {
	text-decoration: none !important;
	margin: auto;
	font-family: "Montserrat", sans-serif;
}

.footer {
	position: relative;
	width: 100%;
	bottom: 0;
}

.footer_text{
	color: #ffffff;
	font-size: 18px;
}

/* Поставити той фон на задній план?? 
.about_us {
	top: 10vh;
	background-color: #ffffff;
	opacity: 0.6;
} */

.orange {
	color: #faa61a;
}

.green {
	color: #a6f777;
}

.button {
   position: relative;
}

.button-back {
    padding: 10px 15px;
    padding-bottom: 5px;
    margin-top: 3%;
    border: 2px solid #5b5b5b;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: #5b5b5b;
}

.button-back:hover {
    background: #5b5b5b;
    color: white;
}

.button-back span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-back span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
}

.button-back:hover span {
  padding-left: 20px;
}

.button-back:hover span:after {
  opacity: 1;
  left: 0;
}

..button-back:hover {
    background-color: #5b5b5b; /* Green */
    color: white;
}